<h2>LOADING DATA, EDA, BRAINSTORMING</h2>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
df = pd.read_csv('SUOMI_VIIRS_C2_USA_contiguous_and_Hawaii_7d.csv')
df.head(10)

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,confidence,version,bright_ti5,frp,daynight
0,48.18656,-64.92420,301.04,0.42,0.61,2025-10-29,729,N,nominal,2.0NRT,277.49,1.27,N
1,32.48515,-102.09818,320.56,0.74,0.76,2025-10-29,735,N,nominal,2.0NRT,275.70,2.32,N
2,48.18948,-64.92252,296.87,0.42,0.61,2025-10-29,729,N,nominal,2.0NRT,276.37,0.63,N
3,48.25370,-79.01968,325.55,0.39,0.36,2025-10-29,729,N,nominal,2.0NRT,274.72,2.07,N
4,48.25460,-79.02489,312.72,0.39,0.36,2025-10-29,729,N,nominal,2.0NRT,270.26,1.79,N
5,46.04663,-73.14508,297.76,0.43,0.46,2025-10-29,731,N,nominal,2.0NRT,281.16,1.79,N
6,46.04535,-73.13972,300.79,0.43,0.46,2025-10-29,731,N,nominal,2.0NRT,278.47,1.17,N
7,45.78169,-73.91318,301.34,0.41,0.45,2025-10-29,731,N,nominal,2.0NRT,271.00,0.67,N
8,46.52270,-84.37464,306.65,0.42,0.37,2025-10-29,731,N,nominal,2.0NRT,277.47,1.06,N
9,46.51998,-84.38103,297.25,0.42,0.37,2025-10-29,731,N,nominal,2.0NRT,276.44,1.06,N

In [3]:
len(df)

13100

In [4]:
df['satellite'].value_counts()

satellite
N    13100
Name: count, dtype: int64

In [6]:
df.groupby('acq_date').count()

,latitude,longitude,bright_ti4,scan,track,acq_time,satellite,confidence,version,bright_ti5,frp,daynight
acq_date,,,,,,,,,,,,
2025-10-29,1762,1762,1762,1762,1762,1762,1762,1762,1762,1762,1762,1762
2025-10-30,1982,1982,1982,1982,1982,1982,1982,1982,1982,1982,1982,1982
2025-10-31,1669,1669,1669,1669,1669,1669,1669,1669,1669,1669,1669,1669
2025-11-01,885,885,885,885,885,885,885,885,885,885,885,885
2025-11-02,1365,1365,1365,1365,1365,1365,1365,1365,1365,1365,1365,1365
2025-11-03,1699,1699,1699,1699,1699,1699,1699,1699,1699,1699,1699,1699
2025-11-04,2214,2214,2214,2214,2214,2214,2214,2214,2214,2214,2214,2214
2025-11-05,1524,1524,1524,1524,1524,1524,1524,1524,1524,1524,1524,1524